body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
}
/* control area */
#controls {
  border: 1px solid #777;
}
/* blip timeline */
#timeline {
  position: absolute;
  width: 66%;
  height: 66%;
  border-right: 1px solid #777;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* single status formatting */
.blip {
  clear: both;
  display: table-row;
  border-bottom: 1px solid #777;
  margin-bottom: 2px;
}
.blip div {
  border: 1px solid #999;
}
.blip:nth-child(odd) {
  background-color: white;
}
.blip:nth-child(even) {
  background-color: #ccc;
}

.blip .avatar_box {
  width: 20%;
  display: table-cell;
}
.blip .body {
  display: table-cell;
}
.blip .side{
  width: 20%;
  display: table-cell;
}
