body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 9pt;
}
/* control area */
#controls {
  border: 1px solid #777;
	height: 18%;
}
#update_body {
  width: 50%;
}
/* blip timeline */
#timeline {
  position: absolute;
  width: 50%;
  height: 81%;
  border: 1px solid #777;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* single status formatting */
.blip {
  clear: both;
  display: table-row;
  border-bottom: 1px solid #777;
  margin-bottom: 2px;
}
.blip:hover {
	background: #efefef;
}

.blip div {
  border: 1px solid #999;
}

.blip .avatar_box {
  min-width: 50px;
  display: table-cell;
	text-align: center;
}
.PrivateMessage .avatar_box, .DirectedMessage .avatar_box {
	min-width: 105px;
}
.blip .body {
  display: table-cell;
	vertical-align: top;
}
.blip .side{
  width: 20%;
  display: table-cell;
	vertical-align: top;
}
.blip .side .actions {
	display: table-row;
	vertical-align: top;
}
.blip .side .meta {
	display: table-row;
	vertical-align: bottom;
}

button {
	-webkit-appearance: square-button;
}

/* button setup */
