body {
  margin: 0;
  padding: 0;
  font-family: helvetica;
  font-size: 9pt;
}
#overlay {
  position: absolute;
  z-index: 9;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
}
/* login form formatting */
#login_form {
  width: 50%;
  min-height: 33%;
  background: #fff;
  border: 2px solid black;
  border-radius: 10px;
  position: absolute;
  top: 33%;
  left: 25%;
  text-align: center;
  vertical-align: middle;
  z-index: 10;
  padding-top: 3em;
}
/* control area */
#controls {
  border: 1px solid #777;
	height: 18%;
}
#update_body {
  width: 50%;
}
/* blip timeline */
#timeline {
  position: absolute;
  width: 50%;
  height: 81%;
  border-right: 1px solid #777;
  border-bottom: 1px solid #777;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 3;
  background: #fff;
}

/* sidebar */
.sidebar {
  position: absolute;
  width: 40%;
  min-height: 50%;
  z-index: 1;
  overflow-y: auto;
  overflow-x: hidden;
  background: #ccc;
  padding: 1em;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/* single status formatting */
.blip {
  clear: both;
  display: table-row;
  border-bottom: 1px solid #777;
  margin-bottom: 2px;
}
.blip:hover {
	background: #efefef;
}

.blip.active {
  background: #ccc;
}
.blip div {
  padding: 1em;
  border-bottom: 1px solid #999;
}

.blip .avatar_box {
  min-width: 50px;
  display: table-cell;
	text-align: center;
}
.PrivateMessage .avatar_box, .DirectedMessage .avatar_box {
	min-width: 105px;
}
.avatar_box img {
  border-radius: 5px;
}
.blip .body {
  display: table-cell;
	vertical-align: top;
}
.blip .side{
  width: 20%;
  display: table-cell;
	vertical-align: top;
}
.blip .side .actions {
	display: table-row;
	vertical-align: top;
}
.blip .side .meta {
	display: table-row;
	vertical-align: bottom;
}

button {
	-webkit-appearance: square-button;
}

/* awesome scrollbar
 * taken from:
 * http://jsfiddle.net/laukstein/C9s3P/
 */
::-webkit-scrollbar{
    width:0.8em;
    height:0.8em;
    background-color:#fff;
}
::-webkit-scrollbar:hover{
    background-color:#eee;
}
::-webkit-resizer{
    -webkit-border-radius:4px;
    background-color:#666;
}
::-webkit-scrollbar-thumb{
    min-height:0.8em;
    min-width:0.8em;
    -webkit-border-radius:4px;
    background-color: #ddd;
}
::-webkit-scrollbar-thumb:hover{
    background-color: #bbb;
}
::-webkit-scrollbar-thumb:active{
    background-color:#888;
}

