<ul>
  <li>Obserwujący: {{trackedby}}</li>
  <li>Obserwowani: {{tracking}}</li>
  <li>Cytowania: {{citations}}, wzmianki: {{mentions}}</li>
  <li>Pozycja na Blipi.pl: {{rank}}</li>
</ul>
<p><a href="http://stats.blipi.pl/{{username}}" data-action="link" data-url="http://stats.blipi.pl/{{username}}">Więcej na Blipi</a></p>
