<div class="blip {{type}}" data-type="{{type}}" data-user="{{user}}" data-blipid="{{id}}" >
  <div class="avatar_box">
    {{#user_avatar_url}}
    <span class="user_avatar"><img src="{{user_avatar_url}}" /></span>
    {{/user_avatar_url}}
  </div>
  <div class="body">
    <span>{{{body}}}</span>
    </div>
  <div class="side">
    <div class="meta">
      <span class="created_at">{{created_at}}</span>
    </div>
  </div>
</div>
