<div class="blip {{type}}" data-type="{{type}}" data-user="{{user}}" data-blipid="{{id}}" >
  <div class="avatar_box">
  </div>
  <div class="body">
    <span>{{{body}}}</span>
  </div>
  <div class="meta">&nbsp;</div>
</div>
