<div class="blip {{type}}" data-type="{{type}}" data-user="{{user}}" data-blipid="{{id}}" >
  <div class="body">
    <span>{{{body}}}</span>
    <span class="side created_at">
      <a data-action="link" href="#" title="{{created_at}}">{{created_at}}</a>
    </span>
  </div>
</div>
