<h1><a href="http://blip.pl/tags/{{tag}}">#{{tag}}</a></h1>
<ul>
  <a href="#" data-action='tags_subscribe_all' data-tag="{{tag}}">Subskrybuj wszystkie</a>
  <a href="#" data-action='tags_subscribe_friend' data-tag="{{tag}}">Subskrybuj tylko od obserwowanych</a>
  <a href="#" data-action='tags_subscribe_none' data-tag="{{tag}}">Ignoruj wszystkie</a>
</ul>
