<div id="{{username}}_user" class="user_box" data-user="{{username}}">
  <h1>
    <span class="username">{{username}}</span>
    <span class="realname">{{realname}}</span>
  </h1>
  <span class="avatar"><img width="120" height="120" src="{{user_avatar}}" alt="{{username}}"/></span>
  {{#user_location}}
  <span class="location"><img width="120" height="120" src="{{location_url}}" alt="{{user_location}}"/></span>
  <br />
  <a data-url="http://maps.google.com/?q={{user_location}}" data-action="link" href="http://maps.google.com/?q={{user_location}}">{{user_location}}</a>
  {{/user_location}}
  <div class="blipi_info">
  </div>
</div>
<p>
  <a href="#" data-action='follow' data-user="{{username}}">Dodaj do</a>
/ <a href="#" data-action='unfollow' data-user="{{username}}">Usuń z</a> obserwowanych
</p>
<p>
  <a href="#" data-action='ignore' data-user="{{username}}">Dodaj do</a>
/ <a href="#" data-action='unignore' data-user="{{username}}">Usuń z</a> ignorowanych
</p>
